body{
    margin: 0;
    padding: 0;
    background-color: #212121;
    background-size: 100%;
}

.titleCinema{

    color: #FFCC00;
    font-family: fantasy;
    font-size: 1.5em;
    top: 15px;
    left: 5px;
}


.label{

    color: white;
    font-family: fantasy;
    font-weight:lighter;
    font-size: medium;

}



.btn_login{

    width: 120px;
    height: 30px;
    border-color: #E91E63;
    border-width: thin;
    border-radius: 5px;
    background-color: #E91E63;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    
}

.btn_reg{

    width: 100px;
    height: 20px;
    border-color: #E91E63;
    border-width: thin;
    border-radius: 5px;
    background-color: #E91E63;
    color: white;
    font-size: 0.7em;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;

}

.line_cinema{
    width: 100%;
    border-color: #FFCC00;
}